# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.DS_Store

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
tmp
typings
*.tgz
.idea
spec/ngc/ngfactory/
spec/ngc/output/
release

*.ngsummary.json
*.ngfactory.ts